@font-face{
  font-family: cursive;
}

body {
  margin: 0;
  font-family: sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

nav {
  background-color: blueviolet;
  color: #ddd;
}
.menu-toggle {
  background: #000;
  cursor: pointer;
  padding: 1em;
  display: block;
  text-align: right;
}
#menuToggle {
  display: none;
}
#menuToggle:checked ~ ul a {
  font-size: 1em;
  height: 1em;
  line-height: 1em;
  transform: scaleY(1);
  border-bottom: 1px solid #eee;
}
#menuToggle:checked ~ .menu-toggle .fa-times {
  display: block;
}
#menuToggle:checked ~ .menu-toggle .fa-bars {
  display: none;
}

.fa-times {
  display: none;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav a {
  display: block;
   color: black;
   text-decoration: none;
   padding: 1em;
  
   border-bottom: 0 solid #eee;
   font-size: 0;
   height: 0;
   line-height: 0;
   transform: scaleY(0);
   transition: all 0.7s ease-out;
}

nav a:hover {
  color: #fff;
  background: #000;
}

.thom-submenu ul {
  padding-left: .5em;
  border-left: 5px double #eee;
}

#nav .thom-submenu li a {
  font-size: 0;
  height: 0;
  line-height: 0;
  transform: scaleY(0);
  border-bottom-width: 0;
  transition: all .7s ease-in;
}

#nav .thom-submenu:hover li a {
  font-size: 1em;
  height: 1em;
  line-height: 1em;
  transform: scaleY(1);
  border-bottom-width: 1px;
}
.thom-submenu > a {
  display: grid;
  grid-template-columns: 1fr auto;
}
.thom-submenu > a::after {
  font-family: "Font Awesome\ 5 free";
  font-weight: 900;
  content: "\f0d7";
}
.thom-submenu:hover > a::after {
  content: "\f150";
}
main {
  padding: 1em;
}

h1 {
  text-align: center;
}
h4 {
  text-align: center;
}
footer {
  padding: 1em;
  background: blueviolet;
  color: #ddd;
  display: grid;
  grid-template-columns: 1fr auto;
}


@media screen and (min-width:40em) {
  nav>ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  }
 
  .menu-toggle {
    display: none;
  }
  nav a {
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    transform: scaleY(1);
  }
  .thom-submenu {
    position: relative;
  }

  .thom-submenu ul {
    position: absolute;
    border-left: 0;
    padding: 0;
    width: 75%;
  }
  .thom-submenu a {
    background-color:blueviolet;
  }

}

.thom{
  text-align: center;
}

.text{
  text-align: center;
}

#validatie img {

  height: 1em;

  width: auto;

  border: 0;

  margin: 0 .3em;

}